<html>
	<head>
		<meta charset="utf-8">
		<title>42 Foyer Shifts Agenda</title>
		
		<meta name="description" content="A simple web application to manage shifts at the
42 Foyer.">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="../resources/css/style.css">
	</head>
	<body>
		

		<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
	</body>
</html>