
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.button {
	@apply mt-2 p-1 bg-emerald-200 rounded-2xl cursor-pointer;
	@apply hover:bg-emerald-300;
	@apply active:bg-emerald-400;
	@apply transition-colors duration-300 ease-in-out;
}

.day-shift {
	@apply mx-auto max-w-sm mb-4;
}

.day-shift-header {
	@apply flex justify-between items-end mb-1;
}

.tag {
	@apply flex gap-x-1 items-center text-xs font-semibold px-2 py-1 pr-1 rounded-full;

	img {
		@apply inline-block h-6 w-6 rounded-full;
	}
}

.tag-red {
	@apply bg-red-300 text-red-800
}

.tag-blue {
	@apply bg-blue-200 text-blue-800
}

.shift {
	@apply mx-auto mb-1 rounded-3xl bg-red-100 select-none;
	/* Add animation to height size */
	@apply transition-all duration-300 ease-in-out;

	.header {
		@apply flex justify-between rounded-3xl max-w-sm gap-x-4 p-2 cursor-pointer;
		@apply hover:bg-red-200 active:bg-red-300;
		@apply transition-all duration-300 ease-in-out;
	}

	.body {
		max-height: fit-content;
		height: 0px;
		@apply flex flex-col overflow-hidden;
		@apply transition-all duration-300 ease-in-out;

		.tag {
			.material-symbols-outlined {
				@apply rounded-full cursor-pointer select-none;
				@apply transition-all duration-100 ease-in-out;
				@apply hover:bg-white;
				@apply active:bg-gray-200;
			}
			span {
				@apply select-all;
			}
		}
	}

	.body.open {
		@apply p-4;
		height: 500px;
	}
}
.shift.enough {
	@apply bg-green-100;

	.header {
		@apply hover:bg-green-200;		
	}
}

.user-ring {
	@apply inline-block h-6 w-6 rounded-full ring-2;
}

.ring-bartender {
	@apply ring-red-700;
}

.tooltip {
  @apply invisible absolute rounded shadow-lg px-1.5 py-1 -mt-10;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}