@import "tailwindcss";

body {
    @media (prefers-color-scheme: dark) {
        @apply bg-gray-800 text-gray-50 transition-colors duration-300 ease-in-out;
    }
    @media (prefers-color-scheme: light) {
        @apply bg-gray-50 text-gray-900 transition-colors duration-300 ease-in-out;
    }
}
