@import 'tailwindcss';

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-800 dark:text-gray-50 transition-colors duration-300 ease-in-out;
}

.btn {
  @apply bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 disabled:bg-gray-700 disabled:text-gray-400 cursor-pointer disabled:cursor-not-allowed text-sm transition-colors duration-300;
}
